body { font: normal 16px 'Open Sans', Helvetica, Arial, sans-serif; }

/* Layout styles */
.column-25 { width: 25%; float: left; }
.column-75 { width: 70%; float: left; margin-left: 4%; }
.clear { float: none; clear: both; }

.content-box {
    max-width: 760px;
    padding: 30px;
    
    box-shadow: 0 0 10px 0 rgba(194, 167, 167, 0.12);
    background: #fff;
}
    .content-box #booking-voucher {
        padding: 50px 0 20px;

        text-align: center;
        background: #f2f6fc;
    }
    .content-box #booking-voucher h2 {
        margin: 0 0 30px;

        color: #5c5c5c;
        font-size: 28px;
        font-weight: 700;
    }
    .content-box .booking-info {
        margin-bottom: 22px;
        padding: 20px;
        
        text-align: center;
        color: #fff;
        background: #2a4a7d;
    }
    .content-box .booking-info label { margin-bottom: 0; }

.booking-id {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
    .booking-summary {
        margin-bottom: 20px;
        padding: 14px 17px 17px;

        font-size: 14px;
        line-height: 24px;

        border: 1px solid #dfdfdf;
        background: #fff;
    }
    img#hotel {
        width: 100%;
        max-height: 90px;
    }
    img.star {
        width: 15px;
        height: 15px;
    }

#voucher-data .title {
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 700;
}
#voucher-data .description {
    display: inline-block;
    min-width: 30%;
    font-weight: 700;
}

#rate-comments {
    margin-top: 20px;
    
    color: #989898;
    font-size: 16px;
    font-style: italic;
    line-height: 1.43;
}

#cancellation-policies {
    margin-top: 20px;
    
    color: #989898;
    font-size: 14px;
    font-style: italic;
    line-height: 1.43;
}