{% extends "emails/base.html" %}
{% load booking_tags %}

{% block content %}
    <p>
        <strong>New reservation for: </strong>
            {{ hotel.name }}<br>

        <strong>Hotel address: </strong>
            {{ hotel.address }},<br>
            {{ hotel.city }} {{ hotel.get_country }}, {{ hotel.postal_code }}<br>

        <strong>Hotel phone: </strong>
            {{ hotel.get_phone_number }}<br>
    </p>
    <p>
        <strong>Room type and board: </strong>
            {{ reservation.room_name }} - {{ reservation.board_name }}<br>
        
        <strong>Reservation status: </strong>
            {{ reservation.status|booking_status }}<br>
        
        <strong>Booking reference: </strong>
            <strong>{{ reservation.hotelbeds_booking_reference }}</strong>
    </p>
    <p>
        <strong>Check In: </strong>
            {{ reservation.check_in }}<br>
        
        <strong>Check Out: </strong>
            {{ reservation.check_out }}
    </p>
    <p>
        <strong>Guests: </strong>
            {{ reservation.adults }} adult{{ reservation.adults|pluralize }}

            {% if reservation_children_ages %},
                {{ reservation_children_ages|length }} child{{ reservation_children_ages|length|pluralize:"en" }}
                <em>(Ages: {{ reservation_children_ages|join:", " }})</em>
            {% endif %}<br>

        <strong>Nights: </strong>
            {{ reservation_length }}
    </p>
    <p>
        <strong>Your name: </strong>
            {{ reservation.holder_first_name }}
            {{ reservation.holder_last_name }}<br>
        
        <strong>Phone: </strong>
            {{ reservation.holder_phone }}<br>
        
        <strong>Email: </strong>
            {{ reservation.holder_email }}
    </p>

    <p><strong>Total: </strong> £{{ reservation.total_amount|floatformat:2 }}</p>
    <p></p>

    {% comment 'deposits tbd' %}
    <p><strong>Deposit - FULLY REFUNDABLE:</strong> </p>
    {% endcomment %}

    <p><a href="{{ booking_voucher_url }}">Review Booking</a></p>
    <p>If you need assistance, please <a href="mailto:contact@staylivegrow.com">contact us at contact@staylivegrow.com</a>.</p>

    <hr />

    {% if reservation.cancellation_policies_from %}
    <div id="cancellation-policies">
        <b>If you cancel your reservation:</b><br />
        After date: {{ reservation.cancellation_policies_from }}<br>
        Cancellation fee: {{ reservation.cancellation_policies_amount }}
    </div>
    {% endif %}

    <br>

    <p class="text-small"><a href="{{ booking_cancel_url }}">Cancel Booking</a></p>
{% endblock %}