{% extends "emails/base.html" %}
{% load booking_tags %}

{% block content %}
    <p>
        <strong>New reservation for: </strong>
            {{ hotel.name }}<br>

        <strong>Hotel address: </strong>
            {{ hotel.address }},<br>
            {{ hotel.city }} {{ hotel.get_country }}, {{ hotel.postal_code }}<br>

        <strong>Hotel phone: </strong>
            {{ hotel.get_phone_number }}<br>
    </p>
    <p>
        <strong>Room type and board: </strong>
            {{ reservation.room_name }} - {{ reservation.board_name }}<br>
        
        <strong>Reservation status: </strong>
            {{ reservation.status|booking_status }}<br>
        
        <strong>Booking reference: </strong>
            <strong>{{ reservation.hotelbeds_booking_reference }}</strong>
    </p>
    <p>
        <strong>Check In: </strong>
            {{ reservation.check_in }}<br>
        
        <strong>Check Out: </strong>
            {{ reservation.check_out }}
    </p>
    <p>
        <strong>Guests: </strong>
            {{ reservation.adults }} adult{{ reservation.adults|pluralize }}

            {% if reservation_children_ages %},
                {{ reservation_children_ages|length }} child{{ reservation_children_ages|length|pluralize:"en" }}
                <em>(Ages: {{ reservation_children_ages|join:", " }})</em>
            {% endif %}<br>

        <strong>Nights: </strong>
            {{ reservation_length }}
    </p>
    <p>
        <strong>Guest name: </strong>
            {{ reservation.holder_first_name }}
            {{ reservation.holder_last_name }}<br>
        
        <strong>Phone: </strong>
            {{ reservation.holder_phone }}<br>
        
        <strong>Email: </strong>
            {{ reservation.holder_email }}
    </p>

    <p><strong>Total: </strong> £{{ reservation.total_amount|floatformat:2 }}</p>
    <p></p>

    {% comment 'deposits tbd' %}
    <p><strong>Deposit - FULLY REFUNDABLE:</strong> </p>
    {% endcomment %}

    <p><b><a href="{{ booking_admin_url }}">Admin - Edit Booking</a></b></p>
    
    <p class="text-small"><a href="{{ booking_voucher_url }}">Customer - Booking Voucher</a></p>
{% endblock %}