<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stay.Live.Grow Voucher</title>
    <link rel="stylesheet" href="{{ meta.static_url }}vouchers/css/voucher.css">
</head>
<body>

<div class="content-box my-5 mx-auto">
    <div>
        <div id="booking-voucher">
            <h2>Your booking</h2>
        </div>
        <div class="booking-info text-center">
            <label>Booking ID</label>
            <div class="booking-id">{{ reservation.hotelbeds_booking_reference }}</div>
        </div>
        <div class="room-info">
            <div class="booking-summary container">
                <div class="column-25">
                    {% if hotel_featured_image %}
                        <img id="hotel" src="{{ meta.media_url }}{{ hotel_featured_image }}" />
                    {% endif %}
                </div>
                <div id="voucher-data" class="column-75">
                    <div class="title">
                        <span class="description">Hotel:</span>
                        {{ reservation.hotel.name }}
                    </div>
                    <div>
                        <span class="description">Room (board type):</span>
                        {{ reservation.request_data.room_name }} ({{ reservation.board_name }})
                    </div>
                    <div>
                        <span class="description">Hotel category:</span>
                        {% for i in meta.categories_1to5 %}
                            {% if i <= reservation.hotel.category_code.0|add:"0"  %}
                                <img src="{{ meta.static_url }}vouchers/img/star-on.png" class="star" />
                            {% else %}
                                <img src="{{ meta.static_url }}vouchers/img/star-off.png" class="star" />
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br />
                
                    <div>
                        <span class="description">Country, city:</span>
                        {{ reservation.hotel.country_code }}, {{ reservation.hotel.city }}
                    </div>
                    <div>
                        <span class="description">Address:</span>
                        {{ reservation.hotel.address }}
                    </div>
                    <div>
                        <span class="description">Phone:</span>
                        ++ {{ hotel_booking_phone }}
                    </div>
                    <br />
                    
                    <div>
                        <span class="description">Guest name:</span>
                        {{ reservation.holder_first_name }} {{ reservation.holder_last_name }}
                    </div>
                    <div>
                        <span class="description">You booked for:</span>
                        {{ reservation.adults }} adult{{ reservation.adults|pluralize }}

                        {% if children %},
                            {{ children|length }} child{{ children|length|pluralize:"en" }}
                            <em>(Ages: {{ children|join:", " }})</em>
                        {% endif %}
                    </div>
                    <div>
                        <span class="description">Check in date:</span>
                        {{ reservation.check_in }}
                    </div>
                    <div>
                        <span class="description">Check out date:</span>
                        {{ reservation.check_out }}
                    </div>
                </div>
                <div class="clear"></div>
                <div id="rate-comments">
                    <b>Note:</b><br />
                    {{ reservation.rate_comments }}
                </div>
                
                {% if reservation.cancellation_policies_from %}
                <div id="cancellation-policies">
                    <b>If you cancel your reservation:</b><br />
                    After date: {{ reservation.cancellation_policies_from }}<br>
                    Cancellation fee: {{ reservation.cancellation_policies_amount }}
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
    
</body>
</html>