/* ## Booking -> Reservation Model ## */
    /* List styles */
    .column-is_staff { max-width: 50px; }
    a.booking_reference { display: inline-block; width: 140px; color: #447e9b; font-size: 20px; font-weight: 300; text-decoration: none; }
    a.booking_reference:hover { color: #036; }
    
    .field-hotel_name_location b,
    .field-room_name_board_name b { display: inline-block; margin-bottom: 15px; }

    .column-amounts_breakdown { min-width: 180px; }
    
        /* Reservation statuses */
        .field-res_status > span { display: inline-block; padding: 8px; border-radius: 4px; }
            .field-res_status .new { background: #f3f3f3; }
            
            .field-res_status .payment_skipped { background: darkorange; }
            .field-res_status .payment_unsuccessful { background: #FF6961; }
            .field-res_status .payment_successful { background: #E2EEC2; }

            .field-res_status .HB_confirmed { background: #B4D7A2 }
            .field-res_status .HB_error { background: #C23B23; color: white; }
            .field-res_status .cancelled { background: red; color: white; }

    /* Edit styles */
    
        /* Disable fields to avoid accidental updates */
        #reservation_form .form-row input,
        #reservation_form .form-row select,
        #reservation_form .form-row textarea { pointer-events: none; background: #eee; }
        
        #reservation_form span.datetimeshortcuts { pointer-events: none; }
        /* div.jsoneditor { pointer-events: none; } */

        /* Exceptions */
        #reservation_form .form-row.field-reservation_notes textarea { pointer-events: auto; background: #fff; }


/* ## Referrals -> Referral Model ## */
.booking-stats { line-height: 20px !important; }
    .booking-stats .new { color: #555; }
    
    .booking-stats .payment_successful { color: darkgreen; }
    .booking-stats .payment_unsuccessful { color: darkred; }
    .booking-stats .payment_skipped { color: darkorange; }

    .booking-stats .HB_confirmed { color: green; }
    .booking-stats .HB_error { color: orangered; }
    .booking-stats .cancelled { background: red; }

    .nowrap { white-space: nowrap; }

/* Utils */
.icon-info { display: inline-block; width: 14px; height: 14px; margin: 0 10px; color: white; text-align: center; font-weight: bold; font-size: 13px; line-height: 16px; border-radius: 50%; background: black; cursor: help; }

