{% load static %}

<link rel="stylesheet" scoped type="text/css" href="{% static 'calendar_app/admin/css/bootstrap-modal.css' %}">

<!-- SAVE as template Modal -->
<div class="modal fade" id="bulkEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Bulk Listing Edits</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#airbnb_account_tab" role="tab" aria-selected="true">AirBnB Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#title_affix_tab" role="tab"  aria-selected="false">Title Affix</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#markup_tab" role="tab"  aria-selected="false">Markup</a>
          </li>
          
        </ul>

        <!-- UPDATE ARIBNB ACCOUNT -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="airbnb_account_tab" role="tabpanel">
            <div class="aligned">
              <form id="airbnb_account_form">
                <label class="required">Select AirBnB Account</label>
                <select name="airbnb_account" >
                  {% for account in airbnb_accounts %}
                    <option value="{{account}}" selected="">{{account}}</option>            
                  {% endfor %}
                </select>
              </form>
              <br><br>
            </div>
            <div class="modal-footer">
              <button 
                type="button"          
                data-url="{% url 'ajax-update-airbnb-accounts' %}"
                class="btn btn-primary bulk_update"
              >
                Update
              </button>              
            </div>
          </div>

          <!-- ADD PREFIX TAB -->
          <div class="tab-pane fade" id="title_affix_tab" role="tabpanel">
            <div class="aligned">
              <form id="title_prefix_form">
                <label class="required">Select/Create TITLE Affix Tag</label>
                <select name="selected_tag" class="selected_tag">
                  <option value="" selected="selected">--- New Tag ---</option>
                  {% for tag in title_affix_tags %}
                      <option value="{{ tag.pk }}">{{ tag.name }}</option>
                  {% endfor %}
                </select>
                <br><br>
                <div class="new_tag_wrapper">
                  <div class="clearfix">
                    <label class="required">Affix type</label>
                    <select name="new_tag_type">
                      <option value='title_prefix' selected="selected" >Prefix</option>
                      <option value='title_suffix'>Suffix</option>
                    </select>
                  </div>
                  
                  <div class="clearfix">
                    <label class="required">Tag Name</label>
                    <input type="text" name="new_tag_name">
                  </div>            

                  <div class="clearfix">
                    <label class="required">Title Affix</label>
                    <input type="text" name="new_tag_value" minlength=1><br> 
                  </div>

                  <div class="clearfix">
                    <label class="required">Tag Description</label>
                    <textarea  name="new_tag_description"></textarea>
                  </div>

                </div>
              </form>
              <br><br>
            </div>
            <div class="modal-footer">
              <button 
                type="button"          
                data-url="{% url 'ajax-update-rooms-tags' %}"
                class="bulk_update btn btn-primary"
              >
                Update
              </button>              
            </div>
          </div>

          <!-- ADD PRICE MARKUP ( NOT WORKING AT THE MOMENT FOR HOSTIFY ) -->
          <div class="tab-pane fade" id="markup_tab" role="tabpanel">
            <div class="aligned">
              <form id="markup_form">
                <label class="required">Select/Create Markup Tag</label>
                <select name="selected_tag" class="selected_tag">
                  <option value="" selected="selected">--- New Tag ---</option>
                  {% for tag in markup_tags %}
                    <option value="{{ tag.pk }}">{{ tag.name }}</option>
                  {% endfor %}
                </select>
                <br><br>
                <div class="new_tag_wrapper">

                  <div class="clearfix">
                    <label class="required">Tag Name</label>
                    <input type="text" name="new_tag_name">            
                  </div>

                  <div class="clearfix">
                    <label class="required">Markup</label>
                    <input type="number" name="new_tag_value" min=0>
                  </div>

                  <div class="clearfix">
                    <label class="required">Tag Description</label>
                    <textarea  name="new_tag_description"></textarea>
                  </div>
                  
                  <!-- TAG TYPE -->
                  <input type="hidden" name="new_tag_type" value="markup">
               
                </div>
              </form>
              <br><br>
            </div>
            <div class="modal-footer">
              <button 
                type="button"          
                data-url="{% url 'ajax-update-rooms-tags' %}"
                class="btn btn-primary bulk_update"
              >
                Update
              </button>              
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<!-- Patch for Django Jquery -->
<script type="text/javascript">
  var $ = jQuery = django.jQuery;
</script>

<script type="text/javascript" src="{% static 'calendar_app/admin/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
  $(function(){ 

    function get_form_data($form){
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function(n, i){
            indexed_array[n['name']] = n['value'];
        });

        return indexed_array;
    }

    // Get Selectet room IDS and search queries   
    function get_all_params($form){
      var room_ids = ''
      var query_params = ''
      var all_selected = ''

      $('input[name="_selected_action"]:checked').each(function(){
        room_ids += $(this).val() + ';'
      });

      var all_selected = $('input[name="select_across"]').val();
      if (window.location.href.split('?')[1]){
        query_params = window.location.href.split('?')[1]
      }

      var params = get_form_data($form);
      params['all_selected'] = all_selected
      params['room_ids'] = room_ids
      params['query_params'] = query_params
      params['csrfmiddlewaretoken'] =  $('input[name="csrfmiddlewaretoken"]:first').val()

      return params
      
    }
    function post_ajax_bulk_update(params, url){
      confirmation = confirm('Are you sure that you want to update all selected rooms ?')

      if(confirmation){
        if (!params['room_ids']){
          alert('You need to select at least one Room.')
          return true
        }       
        $.post(url, params, function(data) {
          alert('We have updated ' + data['updated'] + ' rooms!');
          location.reload();
        });
      }
    }

    // Hide/Show New Tag wrapper
    $('.selected_tag').on('change', function(){
      var $wrapper = $(this).nextAll('.new_tag_wrapper:first')
      if ($(this).val() == ''){
        $wrapper.show();
      }
      else{
        $wrapper.hide();
      }
    });

    // Bulk Update Button
    
    $('.bulk_update').on('click', function(){      
      var url = $(this).data('url')      
      // Selected room params and csfr
      var $form = $(this).closest('.tab-pane').find('form')
      var params = get_all_params($form)
      post_ajax_bulk_update(params, url)

    });

  });
</script>