{% extends 'admin/change_form.html' %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        a.airbnb{
            color:rgb(255, 56, 92);
        }
        a.hostify{
            color:#666;
        }
        a.hotelbeds{
            color:#003057;
        }
    </style>
{% endblock%}

{% block content %}
    <table>
        {% if hb_hotel_code %}
        <tr>
            <td width="200"><b><a href="{{ hb_hotel_url }}" class="hotelbeds" target="_blank">Hotel Beds Hotel</a></b></td>
            <td width="200"><b>ID:</b> {{ hb_hotel_code }}</td>
        </tr>
        {% endif %}
        
        {% if slg_hotel_id %}
        <tr>
            <td width="200">
                <b><a href="{{ slg_hotel_url }}" target="_blank">Stay.Live.Grow Hotel</a></b>
                <span class="icon-info" title="Note: In SLG the Hotel is shown with availability with 30-to-35 days from today. For 1 Adult only. These params can be updated in the url if needed.">i</span>
            </td>
            <td width="200">
                <b>ID:</b> {{ slg_hotel_id }}
            </td>
        </tr>
        {% endif %}

        {% if hostify_parent_id %}
        <tr>
            <td width="200"><b><a href="{{ hostify_parent_url }}" class="hostify" target="_blank">Room @ Hostify</a></b></td>
            <td width="200"><b>ID:</b> {{ hostify_parent_id }}</td>
        </tr>
        {% endif %}

        {% if hostify_child_id %}
        <tr>
            <td width="200"><b><a href="{{ hostify_child_url }}" class="hostify" target="_blank">Child Room @ Hostify</a></b></td>
            <td width="200"><b>ID:</b> {{ hostify_child_id }}</td>
        </tr>
        {% endif %}

        {% if original.channel_listing_id %}
        <tr>
            <td width="200"><b><a href="https://www.airbnb.com/rooms/{{ original.channel_listing_id }}" class="airbnb" target="_blank">AirBnB Listing</a></b></td>
            <td width="200"><b>ID:</b> {{ original.channel_listing_id }}</td>
        </tr>
        {% endif %}
    </table>
    <br>

    {{ block.super }}

{% endblock%}