{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
    {% if request.user.is_superuser %}
        <li><a class="addlink"  href="#" data-toggle="modal" data-target="#bulkEditModal">Bulk Update Listings</a></li>   
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include "admin/partials/bulk_edit_modal.html" %}
{% endblock %}