{% load static %}
{% load dictionary_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Destination List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href='{% static "hotelbeds_scraper/css/hint.css" %}'>
    <style>
      input[type=checkbox]{
        width:20px;
        height:20px;
      }
      .table{
        position: relative;
      }
      .content .rooms-table{
        width: 900px;
        background-color: transparent;
      }
      tr.hotel{
        margin-top: 30px;
      }
      .no_photos, .small_description, .no_facilities{
        background:hsl(348, 100%, 61%);
      }
      .not_available{
        background:hsl(348, 100%, 21%);
        color:white;
      }
      .room_type.selected{
        background: hsl(171, 100%, 41%);
      }
      .room_type.has_room_stay{
        position: relative;
      }
      .room_type.has_room_stay:after{
        content: 'Have Rooms and Beds';
        position: absolute;
        font-weight: bold;
        width: 121px;
        display: inline-block;
        background: #a5a5a5;
        text-align: center;
        border-radius: 10px;
        right: -130px;
        line-height: 25px;
        color:white
      }
      .room_type.no_facilities:before{
        content: 'No facilities';
        position: absolute;
        font-weight: bold;
        width: 121px;
        display: inline-block;
        background: red;
        text-align: center;
        border-radius: 10px;
        left: -130px;
        line-height: 25px;
        color:white
      }
      #aside{
        position: fixed;
        top:50px;
        right:50px;
      }
        
      [class*="hint--"]:after {
        font-size: 18px;
      }
    </style>
  </head>
  <body>
  <section class="section">
    <div class="bd-main-container container">
        {% csrf_token %}
        <div class="columns is-centered">
            
            <div class="content">
                <h1 class="title">
                    Destination List for {{ destination_code }}
                </h1>
                <h6>Limited to the first 1000 hotels per destination.</h5>
                <h3>{{ hotels|length }} hotels available from {{ hotels_total}}</h5>
                <h3><span id="hotels_without_errors"></span> hotels without errors.</h4>
                
                <br><br>
                <table class="table">
                  
                  <tbody>
                    {% for hotel, hotel_data in hotels.items %}
                      {% with hotel_data|get_item:'errors' as hotel_errors %}
                      <tr class="hotel hint--right{% for error in hotel_errors %} {{ error}}{% endfor %}" aria-label="{% for error in hotel_errors %}{{ error}} {% endfor %}" >
                          <td colspan="5" ><h2>{{forloop.counter}} - {{ hotel_data|get_item:'name' }} - {{ hotel }}</h2>
                            <table class="table rooms-table">
                              <thead>
                                <tr>
                                  <th>Room Code</th>
                                  <th>Room Name</th>
                                  <th>Average Price</th>
                                  <th>Availability</th>
                                  <th># Rooms</th>
                                </tr>
                              </thead>
                                {% with hotel_data|get_item:'rooms' as rooms %}
                                    {% for room, room_data in rooms.items %}
                                      <tr class="
                                      room_type
                                      {% if room_data|get_item:'availability' <= 30 %} not_available{% endif %}
                                      {% if room_data|get_item:'room_stays'%} has_room_stay{% endif %}
                                      {% if room_data|get_item:'no_facilities'%} no_facilities{% endif %}
                                      "
                                      data-hotel="{{ hotel}}"
                                      >
                                        <td class="code">{{ room }}</td>
                                        <td>{{ room_data|get_item:'name' }}</td>
                                        <td><span title="{{ room_data|get_item:'prices' }}">{{ room_data|get_item:'average_price' }} GBP</span></td>
                                        <td>{{ room_data|get_item:'availability'}} %</td>
                                        <td><input class="input rooms_count" type="number" min=0 value=0 placeholder="Text input"></td>
                                      </tr>
                                    {% endfor %}
                                  {% endwith %}
                              {% endwith %}
                            </table>
                          </td>
                      </tr>                          
                    {% endfor %}
                  </tbody>
                </table>
                <div id="aside">
                  AirBnB Account:<br>
                  <div class="select">                     
                    <select id="airbnb_account">
                      {% for account in airbnb_accounts %}
                        <option {% if forloop.first %}selected{% endif %} value="{{ account }}">{{ account }}</option>
                      {% endfor %}
                    </select>
                  </div><br><br>
                  <button class="button is-primary is-size-5" data-url="{% url 'ajax-prepare-auto-hostify-rooms' %}" id="create-listings">Create&nbsp;<span id="total" class="has-text-weight-bold"></span>&nbsp;ROOMS</button>
                </div>
            </div>
        </div>
    </div>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    <script type="text/javascript" src='{% static "hotelbeds_scraper/js/script.js" %}'></script>
  </body>
</html>