<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Price Checker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="bd-main-container container">
        
        <div class="columns is-centered">
            
            <div class="column is-half ">
                <h1 class="title">
                    Destination Price Checker v0.1
                </h1>
                <!-- <p class="subtitle">
                    My first website with <strong>Bulma</strong>!
                </p> -->
                {% if error %}
                    <code>{{ error }}</code>
                {% endif %}
                <div class="tabs">
                    <ul>
                      <li id="location-tab"><a>By Location</a></li>
                      <li id="ids-tab" class="is-active"><a>By Hotel IDS</a></li>
                    </ul>
                  </div>
                <div class="location-tab tab-content is-hidden">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Country</label>
                            <div class="control">
                                <input class="input" name="country" required minlength=2 type="text" placeholder="United Kingdom">
                            </div>
                            <p class="help">Write the full name of the country</p>
                        </div>

                        <div class="field">
                            <label class="label">City</label>
                            <div class="control">
                                <input class="input" name="city" required minlength=2 type="text" placeholder="LON">
                            </div>
                            <p class="help">Write the full name of the city</p>
                        </div>

                        <div class="field">
                            <label class="label">City shortcode</label>
                            <div class="control">
                                <input class="input" name="city_shortcode" required maxlength=3 minlength=2 type="text" placeholder="LON">
                            </div>
                            <p class="help">Write 2 or 3 letter destination code</p>
                        </div>
                        
                        <div class="field">
                            <label class="label">Starting Date</label>
                            <div class="control">
                                <input class="input" name="starting_date" required type="text" placeholder="2020-09-09">
                            </div>
                            <p class="help">Write starting date in format YYYY-MM-DD</p>
                        </div>

                        <div class="field">
                            <label class="label">Days in advance</label>
                            <div class="control">
                                <input class="input" required name="days_in_advance" type="number" min="1" max=15 step="1" placeholder="1">
                            </div>
                            <p class="help">Write how many dates to check</p>
                        </div>
                        <div class="field">
                            <label class="label">Length of stay</label>
                            <div class="control">
                                <input class="input" required name="length_of_stay" type="number" min="1" max=30 step="1" value="1">
                            </div>
                            <p class="help">How many days is each reservation check</p>
                        </div>

                        <!-- <div class="field">
                            <label class="label">Length of stay</label>
                                <div class="control">
                            <input class="input" name="length_of_stay" type="number" min="1" max=10 step="1" placeholder="1">
                            </div>
                            <p class="help">For how many days is each check in.</p>
                        </div> -->

                        <div class="control">
                            <input type="submit" class="button is-link" value="Submit">
                        </div>
                    </form>
                </div>
                <div class="ids-tab tab-content">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Hotel Ids</label>
                            <div class="control">
                                <input class="input" name="hotel_ids" required minlength=4 type="text" placeholder="702472,722432">
                            </div>
                            <p class="help">Write list of hotel ids</p>
                        </div>

                        <div class="field">
                            <label class="label">Starting Date</label>
                            <div class="control">
                                <input class="input" name="starting_date" required type="text" placeholder="2020-09-09">
                            </div>
                            <p class="help">Write starting date in format YYYY-MM-DD</p>
                        </div>

                        <div class="field">
                            <label class="label">Days in advance</label>
                            <div class="control">
                                <input class="input" required name="days_in_advance" type="number" min="1" max=90 step="1" placeholder="1">
                            </div>
                            <p class="help">Write how many dates to check</p>
                        </div>
                        <div class="field">
                            <label class="label">Length of stay</label>
                            <div class="control">
                                <input class="input" required name="length_of_stay" type="number" min="1" max=30 step="1" value="1">
                            </div>
                            <p class="help">How many days is each reservation check</p>
                        </div>

                        <div class="control">
                            <input type="submit" class="button is-link" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {
            $('.tabs li').on('click', function(){
                $('.tabs li').removeClass('is-active');
                $(this).addClass('is-active');

                $('.tab-content').addClass('is-hidden');
                $('.' + $(this).attr('id')).removeClass('is-hidden');
            });
        });
    </script>
  </body>
</html>