<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Price Checker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="bd-main-container container">
        
        <div class="columns is-centered">
            
            <div class="column is-half ">
                <h1 class="title">
                    Destination Price Checker v0.1
                </h1>
                <p class="subtitle">
                    <strong>{{ scraped_data.count }}</strong> CSV files have been created.
                </p>
                <ul>
                    {% for item in scraped_data %}
                        {% if item.csv %}
                          <li><a href="{{ item.csv.url }}">{{ item.csv.name }}</a></li>
                        {% else %}
                          <li>Nothing available from {{item.check_in}} to {{item.check_out}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  </section>
  </body>
</html>